### Functional Programming
1.simple
2.easy to understand
3.better reusability
4.length of the program is divided into sub programs

In [ ]:
# read the number
#print the even digits sum from the number

#input:1234
#output:6(2+4)

def evendigitsum(n):
    s=0
    while n != 0:
        r= n % 10
        if r % 2 == 0:
            s = s+r
            n = n // 10
    return s
evendigitsum(1234)

In [1]:
# define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [8]:
def evendigitsum(n):
    s=0
    while n != 0:
        r = n % 10
        if r % 2 == 0:
            s = s + r
            n = n // 10
            return s
        print(evendigitsum(1234))

In [5]:
def cube(x):
    print(x*x*x)
print(cube(2))

8
None

In [7]:
def cube(x):
    return(x*x*x)
print(cube(2))

8

In [9]:
def multiply(x,y = 0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [14]:
#swap values
def swap(x,y):
    temp = x
    x = y
    temp = y;
    
    swap(2,4)
    print(x)
    print(y)

In [16]:
x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [3]:
 def largedigit(n):
    large = 0
    while n!=0:
        r=n%10
        if large < r:
            large = r
        n=n//10
    return large
largedigit(19535)

9

## for loop
##### syntax 1:
for i in range (start,stop,step):
> statements
##### syntax 2:
for i in iterableobject:
> statements

In [4]:
# function toprint the numbers btw two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## collection types:
#### 1.set
#### 2.tuple
#### 3.dictionary
#### 4.list

### list:
##### 1.one of the data stucture in python
##### 2.data stucture means to store,sort and search options
##### 3.it's one common data structure in python,the items of thye list seperatedby comma and enclosed in square brackets[]

### examples:
###### list1=[1,2,3,4,5]
###### list2=["gitam",1,2]

In [15]:
li =[1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[3])
print(li[-4])
print(li[2:])
print(li[-3:])
print(li[5:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
9
8
[16, 9, 2]
[16, 9, 2]
[]
[8, 16, 9]
[8, 16, 9]

In [16]:
#update list
li = ["gitam",1234,'hyd']
li[1] = 4567
print(li)

['gitam', 4567, 'hyd']

In [17]:
# delete list
li = ['gitam',1233,2015,2316,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1233, 2015, 2316, 'hyd']
['gitam', 1233, 2015, 'hyd']

In [ ]:
# basic list operations
li = [1,2,3,4,5]
#len of the string
print(len(li))
#