In [1]:
# basic list functions
li= [1,9,12,34,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

34
1
61
12

In [11]:
li = [1,9,16,25,5,9,99]
#li.append(29)
#li.insert(2,26)
#li
#li.count(9)
li.index(25)

3

In [12]:
li = [1,9,16,56,25,5,9]
li.sort()# sorts in accending order
li

[1, 5, 9, 9, 16, 25, 56]

In [13]:
li = [1,9,16,26,56,5,9]
li.pop()# removes the last index value
li

[1, 9, 16, 26, 56, 5]

In [14]:
li = [1,9,16,56,25]
li.pop(1)# removes the particular items from list
li

[1, 16, 56, 25]

In [15]:
lil = [1,6,25,9]
li.extend(lil)
li

[1, 16, 56, 25, 1, 6, 25, 9]

In [16]:
lil = [1,6,9,25]
lil.reverse()
lil

[25, 9, 6, 1]

In [18]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlargenumber(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,45,22]
print(largenumber(li))#largest number
print(genericlargenumber(li,3))#particular largest number

45
22

In [ ]:
def leastnumber(li):
    li.sort()
    return li[0]
def genericleastnumber(li,n):
    li.sor

In [26]:
li = [1,9,16,26,56,5,9]
li.sort()
print(li)
li[2]

[1, 5, 9, 9, 16, 26, 56]

9

In [30]:
def leastnumber(li):
    li.sort()
    return li[0]
def genericleastnumber(li,n):
    li.sort()
    print(li)
    return li[n-1]
li = [19,1,25,6,9,45,22]
print(leastnumber(li))#least number
print(genericleastnumber(li,2))#particular least number

1
[1, 6, 9, 19, 22, 25, 45]
6

### tuples
###### -paranthesis()----->tuple and square brackets[]----->list
###### -difference between list and tuples
      -list are mutable - can be changed or modified
      -uesd to access and modify,add,delete data
      -tuples are in mutable - cannot be changed or modified
      -used to access data only

In [35]:
t1 = (1,2,3,4,5)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### dictionaries
#### 1.It works on the concept of set unique value
#### 2.Keys,values is the unique identifier for the value
#### 3.Each key is separated from its values using colon(:)
#### 4.Each key and value is separated with comma(,)
#### 5.Dictionaries enhanced with curly braces{}

In [39]:
D1 = {"name":"Gitam","email id":"gitam@gmail.com","address":"hyderabad"}
D1["email id"] = "gitampython@gmail.com"
D1

{'name': 'Gitam', 'email id': 'gitampython@gmail.com', 'address': 'hyderabad'}

In [42]:
D1["email id"]

'gitampython@gmail.com'

In [45]:
D1["course"] = "python"
D1

{'name': 'Gitam',
 'email id': 'gitampython@gmail.com',
 'address': 'hyderabad',
 'course': 'python'}

In [46]:
del D1["email id"]
D1

{'name': 'Gitam', 'address': 'hyderabad', 'course': 'python'}

In [47]:
D1.keys()

dict_keys(['name', 'address', 'course'])

In [48]:
D1.values()

dict_values(['Gitam', 'hyderabad', 'python'])

In [49]:
D1.items()#the list of tuples of keys and values

dict_items([('name', 'Gitam'), ('address', 'hyderabad'), ('course', 'python')])

### strings:
##### -strings
##### -string slicings
##### -fundamental programming with string in python

In [57]:
s1 = 'python'
print(s1[0])
print(s1[2])
print(s1[5])
print(s1[len(s1)-1])

p
t
n
n

In [59]:
print(s1[-1])#another way to access the last number
print(s1[-2])#another way to access last 2nd charracter
print(s1[0:2])#values from 0 to 2
print(s1[:2])#values upto 2
print(s1[-3:])#values from -1 to -3
print(s1[2:])#values from 2 to last
print(s1[::-1])#to reverse the string

n
o
py
py
hon
thon
nohtyp

In [60]:
print(s1[1:-1])#printing all characters except 1st and last
print(s1[len(s1)//2])#middle of the string
print(s1[-1::-1])# reverse of the string
print(s1[-1:-3:-1])#  access the last 2 charecters in reverse order
print(s1[::2])#2 charecters
print(s1[::3])# three characters
print(s1[::-2])# from reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [62]:
#Reversing the string
def reversestring(str):
    return str[-1::-1]
reversestring("programming")

'gnimmargorp'

In [69]:
#checking whether the given string is palindrom or not
def ispalindrome(str):
    if str == str[::-1]:
        return True
    else:                                                   #### in python true,false and none starts with capital letters
        return False
    return
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

### string built-in methods
##### 1.upper()------ will convert into upper case
##### 2.lower()-------will convert into lower case

In [72]:
s1 = "python"
print(s1.upper())
print(s1.lower())

PYTHON
python

In [ ]:
### string boolean built-in methods
3.islower()
4.isupper() 
5.istitle()
6.isnumeric()
7.isalpha()
8.isspace()

In [92]:
s1 = " "
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isupper())
print(s1.islower())
print(s1.isspace())

False
False
False
False
False
True

### string Methods
##### -join()---method will cocatinate the 2 strings
##### -split()--returns the list of strings separated by whitespace
##### -replace()--replaces the specific word or character with new word or character

In [95]:
s1 = 'python'
print(" ".join(s1))

p y t h o n

In [96]:
s2 = "python programming is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [101]:
s3 = 'python' 'programing' 'is' 'easy' 'to' 'learn'
print(",".join(s3))

',p,y,t,h,o,n,', ,',p,r,o,g,r,a,m,i,n,g,', ,',i,s,', ,',e,a,s,y,', ,',t,o,', ,',l,e,a,r,n,'

In [104]:
s2 = "python programming is easy to learn"
x=s2.split()
print(",".join(x))

python,programming,is,easy,to,learn

In [105]:
s2 = "python programing is easy to learn"
print(s2.replace("gra","application"))

python proapplicationming is easy to learn

In [106]:
s2 = "python programing is easy to learn"
print(s2.split('a'))

['python progr', 'ming is e', 'sy to le', 'rn']